@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Playfair+Display:ital@1&display=swap');

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    background-color: white;  
}
h2 {
  font-size: 40px;
  text-align: center;
  color: cornflowerblue;
}
p {
    font-style:italic;
    color: cornflowerblue;
    font-weight: bold;
}
.form-row {
    margin: 0 10px;
    padding: 10px;    
}
.form-label {
    padding: 5px;
    margin: 5px;
    font-weight:bold ;
}
.form-field {
    padding: 5px;
    margin: 5px;
}

.formrow {
    margin: 10px;
    padding: 20px;
    }
.formlabel{
        display: inline-block;
        padding: 10px 10px;
        vertical-align: middle;
    }
.formfield {
    display: inline-block;    
    padding: 10px 10px;
    vertical-align: middle;
}
ul li {
    list-style: none;
}

@media (min-width: 960px) {
    .form-row {
    margin: 10px;
    padding: 20px;
    }
    .form-label{
        display: inline-block;
        padding: 10px 10px;
        vertical-align: middle;
    }
    .form-field {
        display: inline-block;    
        padding: 10px 10px;
        vertical-align: middle;
    }
}
 
input[type=submit], input[type=reset] {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 15px;
}
input[type=submit]:hover, input[type=reset]:hover {
    background-color:black;
    color: cornflowerblue;
}


